body {
  font-family: Arial, sans-serif;
  background-color: #b6bbbb;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.converter {
  background-color: rgb(70, 137, 104);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

input {
  width: 100px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
